* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo Black", sans-serif;
  font-weight: 500;
  font-style: normal;
}

nav div a {
  text-decoration: none;
  color: white;
  /* background-color: aqua; */
  padding: 5px;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(9, 9, 9);
  padding: 15px 40px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a:hover {
  color: red;
}

nav div li:last-child a {
  background-color: orangered;
  /* tb  lr */
  padding: 5px 10px;
  border-radius: 10px;
}

nav div li:last-child a:hover {
  color: rgb(12, 218, 173);
  background-color: rgb(230, 186, 170);
}

nav h2 {
  color: white;
}

.active {
  text-decoration: underline rgb(211, 22, 22) double;
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.hero {
  background-color: aquamarine;
  height: 90vh;
  background-image: url("../images/Banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero button {
  background-color: red;
  color: white;
        /* tb   lr */
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  
}

.hero button:hover
{
   background-color:darkred;
}


.video-section
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:50px;
   gap: 50px;
}

.video-text
{
  flex: 1;
}

.video-box
{
  flex: 1;
}


.video-box video 
{
  width: 100%;
  border-radius:25px;
}

.video-text h2 
{
  font-size: 50px;
  margin-bottom: 20px;
}

.video-text p 
{
  font-size: 18px;
  color: rgb(96, 86, 86);
}

.about  
{
  text-align: center;
  background-color: aqua;
  /*       tb   lr */
  padding:60px 20px;
  background-color: #dedbdb;
}


.about p
{
  max-width: 700px;
  /* background-color: aqua; */
  line-height: 1.6;
  margin: auto;
}
